@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root{
  --cor-menu: #FFFFFF;
  --cor-botao: #007DFA;
  --cor-texto-azul:#2F3367;
  --cor-texto-paragrafo:#6B6D92;
  --cor-links:#007DFA;
  --fonte: 'Poppins', sans-serif;
  --icones:  #868AA5;
  --cor-menu-perfil: #8A8EA8;
  --cor-borda: #ECECEE;
  --sub-menu: #8D91AB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}